<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>WebSec SAML2 Service Provider Error Page</title>
</head>
<body>
<h1>Error!</h1>

<p>The status code
    #if(${forwardedFrom})
        for your request to <a href="${forwardedFrom}">${forwardedFrom}</a>
    #end
    is ${statusCode}. Check the log files for details if you need more information.</p>

<p>The current time is ${time}.</p>
    #parse("snippets/pageListSnippet.vm")
</body>
</html>
