<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>WebSec SAML2 Service Provider Start Page</title>
</head>
<body>
<h1>WebSec SAML2 Service Provider Start Page</h1>

<p>The current time is ${time}.</p>
    #parse("snippets/pageListSnippet.vm")
<p>Current User: ${currentUser}</p>

<form action="${logoutUrl}" method="post">
    <button type="submit">Log out</button>
</form>
</body>
</html>
